@tailwind base;
@tailwind components;
@tailwind utilities;

/* define the class so @apply can see it */
@layer utilities {
  .bg-fog-40 {
    /* 40% of #E2E2DF */
    background-color: rgb(226 226 223 / 0.4);
  }
}

:root {
  color-scheme: light;
}

/* now you can apply it */
body {
  @apply bg-fog-40 text-slate-800;
}
